body {
    background-color: black;
    background-image: url("emes.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: orange;
}

h1 {
    background-color: black;
    text-align: center;
    color: black;
    border-style: groove;
    border-color: black;
    margin: auto;
    font-family: 'Koulen', cursive;
    background-image: url("omos.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    background-color: black;
    text-align: center;
    color: black;
    border-style: groove;
    border-color: black;
    margin: auto;
    font-family: 'Koulen', cursive;
    background-image: url("omos.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

div {
    width: auto;
    margin: 5px;
    position: center;
}


table {
    color: white;
    background-color: black;
    opacity: 0.9;

    font-size: 25px;
    font-family: 'Koulen', cursive;
    font-family: 'Lora', serif;
    font-family: 'Roboto Mono', monospace;
    width: 600px;
    height: 200px;
    text-align: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: lightgrey;
    border: double;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: blink;
    display: inline-block;
    font-size: 16px;
    margin-inline: 80px;
    opacity: 0.9;
    inline-size:150px;
}
aside {
    opacity: 0.9;
    font-family: 'Koulen', cursive;
    font-family: 'Lora', serif;
    font-family: 'Roboto Mono', monospace;
    height: auto;
    margin: 20px;
    text-align: center;

}

